<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="jp.shiguredo.sora_flutter_sdk">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission
      android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

</manifest>
